#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

 #define DEFAULT 0

/ {
  keymap 
  {
      compatible = "zmk,keymap";

      default_layer {
          bindings = <
          &kp 1   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1                   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1   &kp 1
          &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2   &kp 2
          &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3   &kp 3
          &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4   &kp 4
          &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5   &kp 5

          >;
      }
  }